<style>
.navbar {
 overflow:hidden;
 background-color:#000080;

}

.navbar a {
 float:left;
 color:#f2f2f2;
 text-align: center;
 text-decoration:none;
 padding: 20px 24px;
}

.navbar a:hover {
 background-color:#e75480;
 color:black;
}
</style>

<div class="navbar">
  <a class="active" routerLink="landingPage" routerLinkActive="active">Home</a>
  <a routerLink="registration" routerLinkActive="active">Register</a>
  <a routerLink="login" routerLinkActive="active">Login</a>
  <a routerLink="about">About</a>
</div>
