<style>
.navbar {
 overflow:hidden;
 background-color:#000080;

}

.navbar a {
 float:left;
 color:#f2f2f2;
 text-align: center;
 text-decoration:none;
 padding: 20px 24px;
}

.navbar a:hover {
 background-color:#e75480;
 color:black;
}
</style>

<div class="navbar">
  <a class="active" routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/employees" routerLinkActive="active">Employees</a>
  <a routerLink="/products" routerLinkActive="active">Products</a>
  <a routerLink="/register" routerLinkActive="active">Register</a>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
</div>
