<style>
.footer {
  position:relative;
  bottom:1px;
width:100%
}
</style>
<div class="footer">
  <a target="_blank" rel="noopener noreferrer" href="https://www.kent.edu/cs"><img src="assets/images/kent_state_university_stacked_2-color.png" width="65" height="65" align="left"></a>
  <a target="_blank" rel="noopener noreferrer" href="https://github.com/DataByne/uraPointOfSale"><img src="assets/images/GitHub_Logo.png" width="65" height="65" align="right"></a>
  <p align="center">© Team Spider 2019 <img class="pic2" src="/assets/images/spider.gif" height="50px" width="40px"></p>
</div>
