[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
pylint = "*"

[packages]
flask = "*"
flask-wtf = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pylint = "*"
behave = "*"
python-dotenv = "*"
selenium = "*"
splinter = "*"
pytz = "*"
matplotlib = "*"
flask-mail = "*"
flask-caching = "*"

[requires]
python_version = "3.7"
