
* {
    font-family: Arial, Helvetica, sans-serif;
}

a,
a:active,
a:focus,
a:hover,
a:link,
a:visited {
    text-decoration: none;
}

button,
label,
input,
submit,
textarea {
    padding: 5;
}

h1,
h2 {
    padding: 10;
}

img {
    margin: 5;
}

.card {
    min-width: 45%;
    height: 60vh;
    padding: 0;
    transition: 0.5s ease;
    cursor: pointer;
    border: 0.5mm ridge gray;
}

.card:hover {
    transform: scale(1.1) translateY(-0.5rem);
    box-shadow: 10px 10px 5px grey;
    border: 2mm ridge lightgray;
}