
* {
    font-family: Arial, Helvetica, sans-serif;
}

a,
a:active,
a:focus,
a:hover,
a:link,
a:visited {
    text-decoration: none;
}

button,
label,
input,
submit,
textarea {
    padding: 5;
}

h1,
h2 {
    padding: 10;
}

img {
    margin: 5;
}

.navbar {
    background-color: navy;
    color: white;
    padding: 10;
}

.navbar-dark .nav-item {
    display: inline;
    background-color: navy;
    color: white;
    padding: 10;
}

.navbar-dark .navbar-toggler,
.navbar-dark .nav-link,
.navbar-dark .nav-link:active,
.navbar-dark .nav-link:focus,
.navbar-dark .nav-link:hover,
.navbar-dark .nav-link:link,
.navbar-dark .nav-link:visited,
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:link,
.navbar-dark .navbar-nav .nav-link:visited {
    color: white;
}

.nav-link:hover {
    background-color: blue;
}


