
* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

button,
label,
input,
submit {
    padding: 5;
}

h1,
h2 {
    padding: 10;
}

img {
    margin: 5;
}

.nav-bar {
    width: 100%;
    background-color: navy;
    color: white;
    padding: 10;
}

.nav-link,
.nav-link:active,
.nav-link:focus,
.nav-link:link,
.nav-link:visited {
    display: inline;
    background-color: navy;
    color: white;
    padding: 10;
}

.nav-link:hover {
    background-color: blue;
}

