<!-- Application root -->
<!-- Landing page -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

  }

  @media screen and (max-width: 575px) {

  }
</style>

<div class="image_block">
  <img src="assets/images/logo.png" width="950" height="320">
</div>
<div class="h1">Making You the Point of Sale</div>
<div class="h2">Coming Soon!</div>
<div class="footer">
  <a target="_blank" rel="noopener noreferrer" href="https://www.kent.edu/cs"><img src="assets/images/kent_state_university_stacked_2-color.png" width="65" height="65" align="left"></a>
  <a target="_blank" rel="noopener noreferrer" href="https://github.com/DataByne/uraPointOfSale"><img src="assets/images/GitHub_Logo.png" width="65" height="65" align="right"></a>
  <p align="center"> © Team Spider 2019 </p>
</div>

