<!-- Application root -->
<!-- Landing page -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

  }

  @media screen and (max-width: 575px) {

  }

.site-content {
  position:relative;
  width:100%;
  height:90%;
  margin:;
  top:0ex;
  text-align:center;
  }
.container {
  position:relative;
  margin: auto;
  top:25ex;
  text-align:center;
}

.btn {
	position: relative;
	width: 12ex;
	height: 5ex;
	background-color: #e75480;
	border-radius: 10px;
	float:left;
        left:35ex;
	margin-top:20px;
	margin-right:20px
}

.btn-text {
	position:relative;
	text-align: center;
	text-decoration: none !important;
	color: white;
	margin: auto;
	top: 25%;
}

.pic1 {
 position:relative;
  left: -20ex;
}
.pic2{
position: relative;
left: 30ex;
top:-15ex;
}
.pic3 {
 position:relative;
left:-10ex;
}
</style>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
