<!--<div *ngIf="product">-->

<h2>Product Details</h2>
<div><h4>ID: {{product.product_id}}</h4></div>
<div>
  <label>Product Name:
    <input [(ngModel)]="product.product_name" placeholder="Name"/>
  </label>
  <br><br><label>Price:
    <input [(ngModel)]="product.price" placeholder="Price"/>
  </label>
  <br><br><label>Description:
    <textarea rows="4" cols="50" [(ngModel)]="product.description" placeholder="Description"></textarea>
  </label>
  <br><br><label>Stock:
    <input [(ngModel)]="product.stock" placeholder="Stock"/>
  </label>
  <br><br><label>Last Refill:
    <input [(ngModel)]="product.last-refill" placeholder="Last Refill"/>
  </label>
  <br><br><label>Next Refill:
    <input [(ngModel)]="product.next-refill" placeholder="Next Refill"/>
  </label>
  
</div>
<button (click)="goBack()">go back</button>
<!--</div>-->
