<style>
.site-content {
  position:relative;
  width:100%;
  height:90%;
  margin:;
  top:0ex;
  text-align:center;
  }
.container {
  position:relative;
  margin: auto;
  top:25ex;
  text-align:center;
}

.btn {
	position: relative;
	width: 12ex;
	height: 5ex;
	background-color: #e75480;
	border-radius: 10px;
	float:left;
        left:25ex;
	margin-top:20px;
	margin-right:20px
}

.btn-text {
	position:relative;
	text-align: center;
	text-decoration: none !important;
	color: white;
	margin: auto;
	top: 25%;
}

.pic1 {
 position:relative;
  left: -20ex;
}
.pic2{
position: relative;
left: 30ex;
top:-15ex;
}
.pic3 {
 position:relative;
left:-10ex;
}
</style>
<div class="site-content">
  
 <h1> Dedicated to bringing your PoS <br> to your customers</h1>  
 <p> Increase synergy and close the loop with pro-active bandwidth. Cross <br> pollinate cerically with native advertising that will empower your <br> solution, push the envelope, and organically <br> quantitfy paragrams! </p>
<div class="btn">
 <a class="btn-text" routerLink="/registration" routerLinkActive="active">Register</a>
 </div>

<div class="btn">
<a class ="btn-text" routerLink="/login" routerLinkActive="active">Login</a>
 </div>	
</div>
<img class="pic1" src="assets/images/spreadsheet.png" height = 180ex width = 120ex>
<img class="pic2" src="assets/images/spider.gif" height=50ex width=40ex/>
<img class="pic3" src="assets/images/graph.png"/>
