{% extends 'base.html' %}

{% block content %}
<div class="row my-5">
  <div class="offset-1 col-10 text-center justify-content-center">
    <h1>About Us</h1>
      <p>Team Spider is a small group of students making a note taking application as part of Dr. DeLozier's CS 33901 Software Engineering class, making a
      small startup and developing it over the course of part of a semester.</p>
      <p>To learn more about the project go to our GitHub which can be found on the bottom right hand side of the page.</p>
    <h2>About Note Weaver</h2>
      <p>Note Weaver's mission is to help give every student the organizational tools they need to be successful inside and outside of the classroom.</p>
      <p>With Note Weaver you can take notes and give them unique tags, allowing you to organize your ideas and thoughts in an easy and lightweight format.</p>
      <p>Once you have created an account simply click on 'Add Note' and start bringing organization back to your life.</p>
    <h2>History of the Project</h2>
      <p>Originally planned as a point of sale system, jokingly named uraPointOfSale, Team Spider quickly shifted directions to a note taking and organizational application.
      Starting at the beginning of November 2019 Note Weaver quickly took shape and is now in the state you know it as today. While we did not work on it much past
      the end of that November we are proud of what we made in the time we had as a team.</p>
    <h2>Team Spider Members</h2>
    <ul style="list-style-type:none;">
      <li>Edwin Almaraz</li>
      <li>Marcus Arnett</li>
      <li>Zackary Beal</li>
      <li>Reece Dulworth</li>
      <li>Abdulkader Fatouh</li>
      <li>Kevin Jarrells</li>
      <li>Elorm Kumahor</li>
      <li>Hoang Le</li>
      <li>Nate O'Halloran</li>
      <li>Kyle Pugh</li>
      <li>Joe Putaturo</li>
      <li title="I made this page!">Ryan Yoak</li>
    </ul>
  </div>
</div>

{% endblock %}
