<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="/css/jquery.datetimepicker-2.3.7.min.css" rel="stylesheet" >
    <link href="/css/bootstrap-3.4.1.min.css" rel="stylesheet" >
    <link href="/css/site.css" rel="stylesheet" />
    {% if title %}
        <title>{{ title }} - Note Weaver</title>
    {% else %}
        <title>Welcome to Note Weaver</title>
    {% endif %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="/scripts/jquery-3.4.1.min.js"></script>
    <script src="/scripts/jquery.datetimepicker-2.3.7.full.min.js"></script>
    <script src="/scripts/bootstrap-3.4.1.bundle.min.js"></script>
    <script src="/scripts/site.js"></script>
    <script>
        if (window.location.pathname != '{{ request.path }}') {
            window.history.replaceState(null, "", '{{ request.path }}');
        }
    </script>
  </head>
  <body>
    <header>
        <nav role="navigation" class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark">
            <span class="navbar-brand"><img src="/images/logo-light.png" width="80" height="40"></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-stretch" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    {% if request.path == url_for('app.index') or request.path == '/' %}
                        <li class="nav-item active"><a class="nav-link" href="">Home</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('app.index') }}">Home</a></li>
                    {% endif %}
                    {% if request.path == url_for('app.addnote') %}
                        <li class="nav-item active"><a class="nav-link" href="">Add Note</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('app.addnote') }}">Add Note</a></li>
                    {% endif %}
                    {% if current_user.is_anonymous %}
                        </ul>
                        <ul class="navbar-nav">
                            {% if request.path == url_for('app.about') %}
                                <li class="nav-item active"><a class="nav-link" href="">About Us</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('app.about') }}">About Us</a></li>
                            {% endif %}
                            {% if request.path == url_for('app.register') %}
                                <li class="nav-item active"><a class="nav-link" href="">Register</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('app.register') }}">Register</a></li>
                            {% endif %}
                            {% if request.path == url_for('app.login') %}
                                <li class="nav-item active"><a class="nav-link" href="">Login</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('app.login') }}">Login</a></li>
                            {% endif %}
                        </ul>
                    {% else %}
                        {% if request.path == url_for('app.notes') %}
                            <li class="nav-item active"><a class="nav-link" href="">Your Notes</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('app.notes') }}">Your Notes</a></li>
                        {% endif %}
                        </ul>
                        <ul class="navbar-nav">
                            {% if request.path == url_for('app.about') %}
                                <li class="nav-item active"><a class="nav-link" href="">About Us</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('app.about') }}">About Us</a></li>
                            {% endif %}
                              <li class="nav-item dropdown dropbottom">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ current_user.username}}</a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-dark bg-dark border-secondary" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item text-light bg-dark" href="{%- if request.path != url_for('app.user', UserID=current_user.id) %}{{ url_for('app.user', UserID=current_user.id)}}{% endif %}">Your profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-light bg-dark" href="{{ url_for('app.logout') }}">Logout</a>
                                </div>
                            </li>
                        </ul>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} justify-content-center text-center" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
      <a target="_blank" rel="noopener noreferrer" href="https://www.kent.edu/cs"><img src="/images/kent_state_university_stacked_2-color.png" width="50" height="50" align="left"></a>
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/DataByne/uraPointOfSale"><img src="/images/GitHub_Logo.png" width="100" height="41" align="right"></a>
      <p align="center">© Team Spider 2019 <img class="pic2" src="/images/spider.gif" width="50" height="35"></p>
    </footer>
  </body>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
</html>
