<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/site.css" rel="stylesheet" />
    {% if title %}
        <title>{{ title }} - Note Weaver</title>
    {% else %}
        <title>Welcome to Note Weaver</title>
    {% endif %}
  </head>
  <body>
    <header>
        <nav role="navigation" class="navbar navbar-expand-md navbar-fixed-top navbar-dark">
            <span class="navbar-brand">Note Weaver:</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('addnote') }}">Add Note</a></li>
                    {% if current_user.is_anonymous %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('notes') }}">Your Notes</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
                {% if not current_user.is_anonymous %}
                    <div class="d-none d-md-inline"><a class="nav-item" href="{{ url_for('user', UserID = current_user.id)}}">{{ current_user.username }}</a></span>
                {% endif %}
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
      <a target="_blank" rel="noopener noreferrer" href="https://www.kent.edu/cs"><img src="/images/kent_state_university_stacked_2-color.png" width="50" height="50" align="left"></a>
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/DataByne/uraPointOfSale"><img src="/images/GitHub_Logo.png" width="100" height="41" align="right"></a>
      <p align="center">© Team Spider 2019 <img class="pic2" src="/images/spider.gif" width="50" height="35"></p>
    </footer>
  </body>
</html>
