{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="offset-1 offset-sm-2 offset-md-3 text-center">
            <h1>Login to start taking notes!</h1>
            <form class="justify-content-center" action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group row col-sm-12">
                    {{ form.username.label(class="col-sm-5 col-form-label") }}
                    {% set username_isvalid = "" %}
                    {% if form.username.errors %}
                      {% set username_isvalid = " is-invalid" %}
                    {% endif %}
                    {{ form.username(autofocus=true, class="col-sm-7 form-control" + username_isvalid)}}
                    {% for error in form.username.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group row col-sm-12">
                    {{ form.password.label(class="col-sm-5 col-form-label") }}
                    {% set password_isvalid = "" %}
                    {% if form.username.errors %}
                      {% set password_isvalid = " is-invalid" %}
                    {% endif %}
                    {{ form.password(class="col-sm-7 form-control" + password_isvalid) }}
                    {% for error in form.password.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="row justify-content-center">
                    <div class="form-group">
                        {{ form.remember_me(class="form-check-input") }} {{ form.remember_me.label(class="form-check-label") }}
                    </div>
                </div>
                <div class="form-group row col-sm-4 offset-sm-4">
                    {{ form.submit(class="form-control") }}
                </div>
            </form>
            <p>Not signed up yet? <a href="{{ url_for('register') }}">Register Here!</a></p>
        </div>
    </div>
{% endblock %}
