{% extends "base.html" %}

{% block content %}
    <div class="row my-5">
        <div class="offset-1 offset-sm-2 offset-lg-3 text-center">
            <h1>Please login to start writing notes!</h1>
            <form id="loginform" name="loginform" class="needs-validation justify-content-center mt-4" action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                {% set login_isvalid = "" %}
                {% if form.submit.errors %}
                    {% set login_isvalid = " is-invalid" %}
                {% endif %}
                <div class="form-group row col-sm-12">
                    {{ form.username.label(class="col-sm-5 col-form-label") }}
                    {% set username_isvalid = login_isvalid %}
                    {% if form.username.errors %}
                        {% set username_isvalid = " is-invalid" %}
                    {% endif %}
                    {{ form.username(autofocus=true, class="col-sm-7 form-control" + username_isvalid)}}
                    {% for error in form.username.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group row col-sm-12">
                    {{ form.password.label(class="col-sm-5 col-form-label") }}
                    {% set password_isvalid = login_isvalid %}
                    {% if form.username.errors %}
                        {% set password_isvalid = " is-invalid" %}
                    {% endif %}
                    {{ form.password(class="col-sm-7 form-control" + password_isvalid) }}
                    {% for error in form.password.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                    {% for error in form.submit.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="row justify-content-center">
                    <div class="form-group">
                        {{ form.rememberMe(class="form-check-input") }} {{ form.rememberMe.label(class="form-check-label") }}
                    </div>
                </div>
                <div class="form-group row col-sm-4 offset-sm-4">
                    {{ form.submit(class="form-control btn btn-primary") }}
                </div>
            </form>
            <div class="mt-3">Not signed up yet? <a href="{{ url_for('register') }}">Register Here!</a></div>
        </div>
    </div>
    <script>
        $('#loginform').submit(function (e) {
            e.preventDefault();
            $.submitForm("{{ url_for('login') }}", $(this).serialize(), 'POST', false);
        });
    </script>
{% endblock %}
