{% extends "base.html" %}

{% block content %}
    <div class="row mt-5">
        <div class="offset-0 offset-xs-1 offset-lg-1 col-lg-10 text-center">
            {% if notes.count() == 0 %}
                <h1>You currently have no notes, {{ current_user.username }}.</h1>
                <button class="btn btn-primary mt-4 mb-5" onclick="window.location.href = '{{ url_for('addnote') }}';">Add Note</button>
            {% else %}
                <h1>{{ current_user.username }}, has weaved these notes!</h1>
                <button class="btn btn-primary my-4 float-right" onclick="window.location.href = '{{ url_for('addnote') }}';">Add Note</button>
                <table class="table-bordered mb-5 col-sm-12">
                    <thead class="table table-dark">
                        <th scope="col">Title</th>
                        <th scope="col">Note</th>
                        <th scope="col">Date</th>
                        <th scope="col">Actions</th>
                    </thead>
                    <tbody>
                        {% for note in notes %}
                            <tr class="table table-hover table-info">
                                <td><a href="{{ url_for('singlenote', NoteID=note.id) }}">{{ note.title }}</a></td>
                                <td>{{ note.note | truncate(32, True) }}</td>
                                <td>{{ note.note_date | user_datetime(current_user.time_zone) }}</td>
                                <td>
                                    <button class="btn btn-primary col-12 col-xl-5" id="editnote" onclick="editNote('{{ url_for('editnote', NoteID=note.id) }}');">Edit</button>
                                    <button class="btn btn-danger col-12 col-xl-5 ml-xl-1" id="deletenote" onclick="deleteNote('{{ note.title }}', '{{ url_for('deletenote', NoteID=note.id) }}');">Delete</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    <script>
        function editNote(url) {
            window.location.href = url;
        }
        function deleteNote(title, url) {
            if (confirm("Are you sure you want to delete the note '" + title + "'?")) {
                window.location.href = url;
            }
        }
    </script>
{% endblock %}
