{% extends "base.html" %}

{% block content %}
    <div class="row mt-5">
        <div class="offset-0 offset-xs-1 offset-lg-1 col-lg-10 text-center">
            {% set haveNotes = false %}
            {% set searching = false %}
            {% if search or request.path.startswith(url_for('app.searchnote')) %}
                {% set searching = true %}
            {% endif %}
            {% if notes and notes.count() > 0 %}
                {% set haveNotes = true %}
            {% endif %}
            {% if searching and search and search != '' %}
                {% if haveNotes %}
                    <h1>These are the notes matching your search.</h1>
                {% else %}
                    <h1>You currently have no notes matching your search.</h1>
                {% endif %}
            {% elif search == '' %}
                 <h1>Search your notes.</h1>
            {% elif haveNotes %}
                <h1>You have weaved these notes!</h1>
            {% else %}
                <h1>You currently have no notes.</h1>
            {% endif %}
            <div class="row my-4">
                {% if searching and search or search == '' or haveNotes %}
                    <form id="searchform" class="col-12 col-lg-6 col-md-5" onsubmit="event.preventDefault(); $.submitForm($.joinUrl('{{ url_for('app.searchnote') }}', encodeURIComponent($('#query').val())), $(this).serialize(), 'GET');">
                        <input id="query" class="form-control col-lg-7 col-md-7 d-inline" type="text" placeholder="Search" aria-label="Search" value="{% if search %}{{ search }}{% endif %}" autofocus="autofocus" required>
                        <button type="submit" class="form-control btn btn-primary ml-md-2 my-2 my-md-0 col-lg-4 col-md-4 d-inline">Search</button>
                    </form>
                {% else %}
                    <div class="col-12 col-lg-6 col-md-5"></div>
                {% endif %}

                {% if searching %}
                    <button class="btn btn-secondary mx-3 ml-md-3 mr-md-0 col-lg-3 col-md-4 mb-2 mb-md-0 d-inline float-right" onclick="$.navigateTo('{{ url_for('app.notes') }}');">Go Back to Your Notes</button>
                {% else %}
                    <div class="mx-3 ml-md-3 mr-md-0 col-lg-3 col-md-4 mb-2 mb-md-0 d-inline float-right"></div>
                {% endif %}
                <button id="addnotebutton" class="btn btn-info mx-3 ml-md-2 mr-md-0 col-lg-2 col-md-2 d-inline float-right" onclick="$.navigateTo('{{ url_for('app.addnote') }}');">Add Note</button>
            </div>
            {% if haveNotes %}
            <button id="btnShowCard" class="btn btn-info">Change View</button>
            <button id="btnShowTable" class="btn btn-info">Change View</button>
                <div id="noteCards">
                <div class=" cards card-deck">
                    {% for note in notes %}
                        <div class="card mt-3" style="min-width: 45%; max-width: 450px;; min-height: 500px;">
                            <div class="card-header"><a href="{{ url_for('singlenote', NoteID=note.id) }}">{{ note.title }}</a></div>
                            <div class="card-body">
                                <p>{{ note.note | truncate(128, True) }}</p><br>
                            </div>
                            <div class="float-left">Tag: {{ taglist[note.id]}}</div>
                            <div class="card-footer">
                                    <button class="btn btn-primary col-12" id="editnote" onclick="$.navigateTo('{{ url_for('editnote', NoteID=note.id) }}');">Edit</button>
                                    <button class="btn btn-danger col-12 mt-2" id="deletenote" onclick="$.deleteNote('{{ note.title }}', '{{ url_for('deletenote', NoteID=note.id) }}');">Delete</button>
                            </div>
                        </div>
                    {% endfor %}
                </div><br>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>

                    </ul>
                </nav>
                </div>
                <table id="noteTable" class="table-bordered mb-5">
                    <thead class="table table-dark">
                        <th scope="col">Title</th>
                        <th scope="col">Note</th>
                        <th scope="col">Tags</th>
                        <th scope="col">Date</th>
                        <th scope="col">Actions</th>
                    </thead>
                    <tbody>
                        {% for note in notes %}
                            <tr class="table table-hover table-info">
                                <td><a href="{{ url_for('app.singlenote', NoteID=note.id) }}">{{ note.title | truncate(64, True) | markup }}</a></td>
                                <td>{{ note.note | truncate(128, True) | markup }}</td>
                                <td>{{ taglist[note.id]}}</td>
                                <td>{{ note.note_date | user_datetime(current_user.time_zone) }}</td>
                                <td>
                                    <button class="btn btn-primary col-12" id="editnote" onclick="$.navigateTo('{{ url_for('app.editnote', NoteID=note.id) }}');">Edit</button>
                                    <button class="btn btn-danger col-12 mt-2" id="deletenote" onclick="$.deleteNote('{{ note.title }}', '{{ url_for('app.deletenote', NoteID=note.id) }}');">Delete</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#noteCards").addClass("d-none"); // hide show note-cards at the bigging

            $('#noteTable').DataTable({
                "searching": false,
                "pagingType": "full_numbers",
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
            });

            $("#btnShowTable").hide(); // hide table at the biggining

            $("#btnShowCard").click(function(){
                $("#btnShowCard").hide();
                $("#btnShowTable").show();
                $("#noteCards").removeClass("d-none");
                $("#noteTable").addClass("d-none");
                if ( $.fn.DataTable.isDataTable('#noteTable') ) {
                    $('#noteTable').DataTable().destroy();
                }
            });

            $("#btnShowTable").click(function(){
                $("#btnShowCard").show();
                $("#btnShowTable").hide();
                $("#noteCards").addClass("d-none");
                $("#noteTable").removeClass("d-none");
                // Reinitialize DataTable for notes-table
                //$('#noteTable').empty();
                $('#noteTable').DataTable({
                    'retrieve': true,
                    "paging": true,
                    "searching": false,
                    "pagingType": "full_numbers",
                    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
                });
            });
        });
    </script>
    <script>
        var numberOfNotes = $('#noteCards .card').length;
        var notesPerPage = 4;
        var totalPages = Math.round(numberOfNotes / notesPerPage);
         // Get number of pages
        $('#noteCards .card:gt(' + (notesPerPage - 1) + ')').hide();
        // add first page
        $(".pagination").append("<li class='page-item active'><a href='javascript:void(0)' class='page-link'>" + 1 + "</a></li>"); // Add first page marker
        // add next pages
        for (var i = 2; i <= totalPages + 1; ++i) {
        $(".pagination").append("<li class='page-item'><a href='javascript:void(0)' class='page-link'>" + i + "</a></li>"); // Insert page number into pagination tabs
        }
        // Add Next button
        $(".pagination").append("<li id='next-page' class='page-item'><a href='javascript:void(0)' class='page-link'>Next</a></li>");

        // Function that displays new items based on page number that was clickeda
        $(".pagination li.page-item").on("click", function() {
            if ($(this).hasClass('active')) {
                return false;
            } else {
                var currentPage = $(this).index();
                $(".pagination li").removeClass('active');
                $(this).addClass('active');
                $("#noteCards .card").hide();
                var grandTotal = notesPerPage * currentPage;
                // show selected notes
                for (var i = grandTotal - notesPerPage; i < grandTotal; i++) {
                    $("#noteCards .card:eq(" + i + ")").show();
                }
            }
        });

        $("#next-page").on("click", function() {
        var currentPage = $(".pagination li.active").index();
            if (currentPage === totalPages) {
                return false;
            } else {
                currentPage++;
                $(".pagination li").removeClass('active');
                $("#noteCards .card").hide();
                var grandTotal = notesPerPage * currentPage;

                for (var i = grandTotal - notesPerPage; i < grandTotal; ++i) {
                    $("#noteCards .card:eq(" + i + ")").show();
                }
                // Make new page number active
                $(".pagination li.page-item:eq(" + (currentPage - 1) + ")").addClass('active');
            }
        });

        $("#previous-page").on("click", function() {
            var currentPage = $(".pagination li.active").index();
            if (currentPage === 1) {
                return false;
            } else {
                currentPage--;
                $(".pagination li").removeClass('active');
                $("#noteCards .card").hide();
                var grandTotal = notesPerPage * currentPage;

                for (var i = grandTotal - notesPerPage; i < grandTotal; i++) {
                $("#noteCards .card:eq(" + i + ")").show();
                }

                $(".pagination li.page-item:eq(" + (currentPage - 1) + ")").addClass('active');
            }
        });
    </script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>

{% endblock %}
