{% extends "base.html" %}

{% block content %}
    <div class="row mt-5">
        <div class="offset-0 offset-xs-1 offset-lg-1 col-lg-10 text-center">
          {% if reminders.count() > 0 %}
          <h1>You have weaved these reminders.</h1>
                <table class="table-bordered mb-5 col-sm-12">
                    <thead class="table table-dark">
                        <th scope="col">Title</th>
                        <th scope="col">Reminder</th>
                        <th scope="col">Reminder Date</th>
                        <th scope="col">Date Made</th>
                        <th scope="col">Actions</th>
                    </thead>
                    <tbody>
                        {% for reminder in reminders %}
                            <tr class="table table-hover table-info">
                                <td><a href="{{ url_for('singlereminder', ReminderID=reminder.id) }}">{{ reminder.title | truncate(64, True) }}</a></td>
                                <td>{{ reminder.reminder | truncate(128, True) }}</td>
                                <td>{{ reminder.reminder_date | user_datetime(current_user.time_zone) }}</td>
                                <td>{{ reminder.creation_date | user_datetime(current_user.time_zone) }}</td>
                                <td>
                                    <button class="btn btn-primary col-12" id="editnote" onclick="$.navigateTo('{{ url_for('editreminder', ReminderID=reminder.id) }}');">Edit</button>
                                    <button class="btn btn-danger col-12 mt-2" id="deletenote" onclick="$.deleteNote('{{ reminder.title }}', '{{ url_for('deletereminder', ReminderID=reminder.id) }}');">Delete</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
              <h1>You currently have no Reminders.</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}
